# node
node_modules/

# example-app
test_fixtures/example-app/*
!test_fixtures/example-app/app/
!test_fixtures/example-app/config/
!test_fixtures/example-app/.env
!test_fixtures/example-app/.env.example
!test_fixtures/example-app/postcss.config.js
!test_fixtures/example-app/webpack.config.js
